.App {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
}

.map-and-info {
  height: 100%;
  overflow: hidden;
}

.row {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .show-screen {
    position: absolute;
    top: 0;
    left: 0 !important;
  }
  .show-screen button:hover {
    text-decoration: underline;
  }
}

@media only screen and (aspect-ratio: 10/16) {
  .show-screen {
    position: absolute;
    top: 0;
    left: 0 !important;
  }
  .show-screen button:hover {
    text-decoration: underline;
  }
}
