.clear {
  background: linear-gradient(5deg, #00aeff, #ffffff, #ffffff);
  color: black;
  border-color: black;
}

.clear button {
}

.night {
  background: linear-gradient(5deg, #0b0049, #005a7b, #005a7b);
  color: white !important;
}

.night button {
  color: white !important;
}

.cloudy {
  background: linear-gradient(0deg, #000000, #989898, #989898, #989898);
}

.background {
  background-size: 400% 400%;

  -webkit-animation: BackgroundAnimation 10s ease-out infinite;
  -moz-animation: BackgroundAnimation 10s ease-out infinite;
  -o-animation: BackgroundAnimation 10s ease-out infinite;
  animation: BackgroundAnimation 10s ease-out infinite;
}

@-webkit-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 70%;
  }
  50% {
    background-position: 100% 85%;
  }
  100% {
    background-position: 0% 70%;
  }
}
@-moz-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 70%;
  }
  50% {
    background-position: 100% 85%;
  }
  100% {
    background-position: 0% 70%;
  }
}
@-o-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 70%;
  }
  50% {
    background-position: 100% 85%;
  }
  100% {
    background-position: 0% 70%;
  }
}

@keyframes BackgroundAnimation {
  0% {
    background-position: 0% 70%;
  }
  50% {
    background-position: 100% 85%;
  }
  100% {
    background-position: 0% 70%;
  }
}
