#time {
  font-size: 5rem;
  font-weight: 800;
}

@media only screen and (max-width: 420px) {
  #time {
    font-size: 3.5rem;
  }
}

#location-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#data {
  position: relative;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  #data {
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 0.1s ease-in;
  }
}
