#time {
  font-size: 5rem;
  font-weight: 800;
}

#condition-image {
  margin: 0 0 -15px 0;
}

@media only screen and (max-width: 420px) {
  #time {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 768px) and (min-height: ) {
}

#location-data {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  overflow-y: auto;
}

#data {
  height: 100%;
  overflow-y: auto;
}

.MuiSnackbar-anchorOriginBottomLeft {
  bottom: 60px !important;
}

@media only screen and (max-width: 768px) {
  #data {
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 0.1s ease-in;
  }
}

@media only screen and (aspect-ratio: 10/16) {
  #toggle-button {
    display: block;
  }
  #data {
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 0.1s ease-in;
  }
}
