#toggle-button {
  display: none;
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  width: 140px;
  height: 35px;
  border-radius: 30px;
  color: white;
}

#bookmark-button {
  display: block;
  position: absolute;
  top: 1vh;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 215px;
  height: 35px;
  border-radius: 30px;
  color: white;
  z-index: 2500;
}

#map {
  position: relative;
  height: 100%;
  z-index: 2000;
}

@media only screen and (max-width: 768px) {
  #toggle-button {
    display: block;
  }

  #map {
    position: absolute;
    top: 0;
    left: 100%;
    transition: all 0.1s ease-in;
  }
}

@media only screen and (aspect-ratio: 10/16) {
  #toggle-button {
    display: block;
  }

  #map {
    position: absolute;
    top: 0;
    left: 100%;
    transition: all 0.1s ease-in;
  }
}
